* {box-sizing:border-box}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Ubuntu Mono", monospace;
    text-rendering: optimizeLegibility;
    background-color: #424242;
    margin: 0;
}

ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.vertiFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horiFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    background-image: url("./resources/pokemon-background-image/644.svg"),
        url("./resources/pokemon-background-image/643.svg");
    background-position: top left, top right;
    background-repeat: no-repeat;
    background-color: #212121;
    min-height: 400px;
}

header h1 {
    color: #FE9000;
    font-family: "Ubuntu Mono", monospace;
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 0;
}

.backToTopLink {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #FFFFFF;
    background-color: #212121;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

a:link, a:visited {
    text-decoration: none;
}

.backToTopLink:hover {
    background-color: #5ADBFF;
}

@media only screen and (max-width: 1365px) {
    header {
        background-image: url("./resources/pokemon-background-image/491.svg");
        background-position: center;
    }
}
@media only screen and (max-width: 450px) {
    header {
        background-image: url("./resources/pokemon-background-image/494.svg");
        background-position: center;
    }

    header h1 {
        color: #FFFFFF;
    }
}

/* SEACH BAR STYLING */

.searchB {
    height: 38px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-family: "Ubuntu Mono", monospace;
}

.searchB:focus {
    outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* DROPDOWN SELECT STYLING */

.standardSelect {
    background-color: #424242;
    color: #5ADBFF;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 1.1rem;
    font-family: "Ubuntu Mono", monospace;
}

.selectorContainer {
    align-items: flex-end;
    padding: 20px 20px;
}

/* ===OVERLAY STYLING=== */

.screenOverlay {
    display: none;
    position: fixed;
    overflow-y: scroll;
    overscroll-behavior: contain;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    background: rgba(40,40,40, .75);
    z-index: 2;
}

.overlayContentWrapper {
    justify-content: flex-start;
    margin: 100px auto;
    padding: 10px 10px;
    position: relative;
    z-index: 3;
    background-color: #FFFFFF;
    width: 65%;
    max-width: 1000px;
    border-radius: 8px;
}

.titleContainer {
    align-items: flex-start;
    width: 100%;
    background-color: #424242;
    border-radius: 8px;
    color: #FFFFFF;
}

.overlayContentWrapper h1 {
    font-size: 2.7rem;
}

.overlayContentWrapper h2 {
    font-size: 2rem;
    margin-top: 12px;
    margin-bottom: 20px;
}

/* close button */

.closeButton {
    border: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    background: none;
    color: #FFFFFF;
    padding: 0px 10px 4px 10px;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.closeButton:hover {
    background-color: #FF4136;
}

.colWrapper {
    align-items: flex-start;
    width: 100%;
}

.overlayCol {
    justify-content: flex-start;
    margin: 40px 15px 0px 15px;
    width: 100%;
    max-width: 400px;
}

/* overlay details */

.overlayPicture {
    height: auto;
    width: 100%;
    max-width: 400px;
    background-color: #e9ecef;
    border-radius: 8px;
    margin-bottom: 20px;
}

.statsC {
    font-size: 1.2rem;
}

.statTable {
    width: 100%;
}

.detailsCard {
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 5px 20px 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #5ADBFF;
    background-color: #424242;
}

.detailsCard h2 {
    color: #FFFFFF;
}

.pokemonDet {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 20px 60px 10px 20px;
}

.col {
    justify-content: flex-start;
    align-content: flex-start;
}

.col ul li {
    display: flex;
    flex-direction: column;
}

.attributeTitle {
    font-size: 1.3rem;
    color: #FFFFFF;
}

.attributeValue {
    font-size: 1.2rem;
    margin: 10px 0px;
}

#overlayTypeList li {
    margin: 0px 5px 10px 5px;
    padding: 6px 0px;
    width: 110px;
    font-size: 1.1rem;
}

#overlayTypeDisadv li {
    margin: 0px 5px 10px 5px;
    padding: 6px 0px;
    width: 110px;
    font-size: 1.1rem;
}

/* overlay evolution chain */

.evolCard {
    max-width: 500px;
}

.evolWrapper {
    color: #5ADBFF;
    border-radius: 30px;
    /*border: 3px solid #FC644D;*/
}

.treeParent {
    padding-right: 10px;
    align-self: center;
}

.tree li, .treeParent li {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.tree div, .treeParent div {
    text-align: center;
}

.tree ul, .treeParent ul {
    padding-left: 24px;
    position: relative;
}

.tree li::before {
    content: '';
    position: absolute;
    left: -16px;
    top: 50%;
    display: block;
    border-right: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

.alternateForms {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.bulbLink {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #212121;
    color: #FFFFFF;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.bulbLink:hover {
    background-color: #5ADBFF;
}

.altFormCard {
    margin: 0px 10px 10px 10px;
}

@media only screen and (max-width: 1300px) {
    .overlayContentWrapper {
        width: 80%;
    }
}

@media only screen and (max-width: 950px) {
    .overlayContentWrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    .overlayContentWrapper {
        width: 95%;
    }
    .colWrapper {
        flex-direction: column;
        align-items: center;
    }

    .overlayCol {
        margin: 0 15px;
    }
}

@media only screen and (max-width: 450px) {
    .overlayContentWrapper {
        width: 100%;
        padding: 10px 5px;
    }
    
    .detailsCard {
        padding: 5px 10px 10px 10px;
    }

}

/* ===MAIN BODY STYLING=== */

main {
    background-color: #fff;
    width: 80%;
    max-width: 1900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 1300px) {
    main {
        width: 90%;
    }
}
@media only screen and (max-width: 1062px) {
    main {
        width: 100%;
    }
}

/* LOADING RING */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    left: 50%;
    transform: translateX(-50%);
  }

  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #5ADBFF;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #5ADBFF transparent transparent transparent;
  }

  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }

/* POKEMON CARDS */

.mainGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 5px;
}

.pokemonCard {
    display: grid;
    position: relative;
    top: 0px;
    background-color: #ffffff;
    margin: 8px 8px;
    border: 1px solid #f2f8f9;
    border-radius: 8px;
    z-index: 0;
}

.pokemonCard:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
}

.pokemonCard:hover::before {
    transform: scale(2.15);
}

.cardSprite {
    display: block;
    width: 150px;
    height: 150px;
    background-color: #e9ecef;
    border-radius: 4px;
    margin-top: 15px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardName {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.cardTypeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardTypeList li {
    margin: 0px 5px 10px 5px;
    padding: 3px 5px;
    width: 4.5rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
}

.textContainer p {
    font-size: 1rem;
    font-weight: 600;
    color: #7f7f7f;
}

/* TYPE BACKGROUNDS */
.bg-color-fire {
    background: -webkit-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: -ms-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: -moz-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: -o-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background-color: #fd7d24;
    color: #fff;
}
.bg-color-water {
    background: -webkit-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: -ms-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: -moz-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: -o-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background-color: #4592c4;
    color: #fff;
}
.bg-color-grass {
    background: -webkit-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: -ms-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: -moz-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: -o-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background-color: #9bcc50;
    color: #212121;
}
.bg-color-flying {
    background: -webkit-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -ms-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -moz-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -o-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121;
}
.bg-color-fighting {
    background: -webkit-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -ms-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -moz-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -o-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background-color: #d56723;
    color: #fff;
}
.bg-color-poison {
    background: -webkit-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -ms-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -moz-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -o-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background-color: #b97fc9;
    color: #fff;
}
.bg-color-dragon {    
    background: -webkit-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -ms-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -moz-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -o-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf; color: #fff;
}
.bg-color-fairy {
    background: -webkit-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -ms-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -moz-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -o-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
    color: #212121;
}
.bg-color-steel {
    background: -webkit-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: -ms-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: -moz-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: -o-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background-color: #9eb7b8;
    color: #212121;
}
.bg-color-bug {
    background: -webkit-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: -ms-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: -moz-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: -o-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background-color: #729f3f;
    color: #fff;
}
.bg-color-normal {
    background: -webkit-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -ms-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -moz-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -o-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
    color: #212121;
}
.bg-color-dark {
    background: -webkit-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: -ms-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: -moz-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: -o-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: linear-gradient(180deg, #707070 50%, #707070 50%);
    background-color: #707070;
    color: #fff;
}
.bg-color-ghost {
    background: -webkit-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: -ms-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: -moz-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: -o-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background-color: #7b62a3;
    color: #fff;
}
.bg-color-ground {
    background: -webkit-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -ms-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -moz-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -o-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: #212121;
}
.bg-color-electric {
    background: -webkit-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -ms-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -moz-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -o-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background-color: #eed535;
    color: #212121;
}
.bg-color-psychic {
    background: -webkit-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -ms-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -moz-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -o-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
    color: #fff;
}
.bg-color-ice {
    background: -webkit-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: -ms-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: -moz-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: -o-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background-color: #51c4e7;
    color: #212121;
}
.bg-color-rock {
    background: -webkit-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -ms-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -moz-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -o-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
    color: #fff;
}

.contentWrapper {
    grid-area: 1 / 1;
}

.transpCardCover {
    grid-area: 1 / 1;
    opacity: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.transpCardCover:hover {
    cursor: pointer;
}